<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script
			src="https://unpkg.com/htmx.org@1.9.6"
			integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
		  crossorigin="anonymous"></script>
	</head>
	<body>
		<h1>Books</h1>
		<form hx-post="/submit" hx-swap="beforeend" hx-target="#new-book">
			<input type="text" placeholder="Book Title" name="title" />
			<input type="text" placeholder="Book Author" name="author" />
			<button type="submit">Submit</button>
		</form>
		<table>
			<thead>
				<tr>
					<th>Book Title</th>
					<th>Book Author</th>
				</tr>
			</thead>
			<tbody
				id="new-book"
				hx-target="closest tr"
				hx-swap="outerHTML swap">
				<% for(book in books) { %>
        <tr>
          <td><%=books[book].name%></td>
          <td><%=books[book].author%></td>
          <td>
            <button hx-get="/get-edit-form/<%=books[book].id%>">
              Edit Book
            </button>
          </td>
          <td><button hx-delete="/delete/<%=books[book].id%>">Delete</button></td>
        </tr>
				<% } %>
			</tbody>
		</table>
	</body>
</html>
